{% extends "navbar.html" %}

{% block content %}
<div class="container mt-3">
    <h2 id="chapter-title">Chapter {{ chapter.chapter_id }}: {{ chapter.title }}</h2>
    <div id="bowl" class="mt-3 text-center">
        <img src="{{ chapter.content.bowl.img }}" alt="{{ chapter.content.bowl.caption }}" width="250">
    </div>
    <div id="nutrients" data-content='{{ chapter.content|tojson|safe }}'>
        {% for key, value in chapter.content.items() %}
            {% if key != 'bowl' %}
            <div class="nutrient btn-white {{ 'nutrient-read' if key in nutrients_read else '' }}" data-key="{{ key }}">
                {{ value.subtitle }} 
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <p id="instruction" class="instruction-text">Click on each card to learn more.</p>
    {% if not all_read %}
    <button id="next-chapter" class="btn-green disabled" disabled>Next Chapter</button>
    {% else %}
    <button id="next-chapter" class="btn-green">Next Chapter</button>
    {% endif %}
    <div id="nutrient-detail" style="display:none;">
        <!-- Details will be populated by JavaScript -->
    </div>
    <button id="back-button" class="btn-green" style="display:none;">Back</button>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/chapter_1.js') }}"></script>

{% endblock %}
